<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Edit user</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
		rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
</head>

<body>
	<!-- start: Header -->
	<%- include('menu');  -%>
	<div class="container-fluid-full">
		<div class="row-fluid">
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/admin/user"><i class="icon-bar-chart"></i><span class="hidden-tablet">
									User</span></a></li>
						<li><a href="/admin/account"><i class="icon-align-justify"></i><span class="hidden-tablet">
									Account</span></a></li>
						<li><a href="/admin/recharge"><i class="icon-align-justify"></i><span class="hidden-tablet">
									Recharge and Withdraw</span></a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="index.html">Home</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">Tables</a></li>
				</ul>
				<div class="row-fluid sortable">
					<div class="box span12" onTablet="span12" onDesktop="span12">
						<div class="box-header">
							<h2><i class="halflings-icon white user"></i><span class="break"></span>Last Users Alt.</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
							</div>
						</div>
						<div class="box-content">
							<ul class="dashboard-list">
								<li>
									<a href="#">
										<img class="avatar" src="../../public/uploads/<%= user.Avatar %> " >
									</a>
									<br>
									<form class="form-horizontal" method="POST">
										<fieldset>
										  <div class="control-group">
											<label class="control-label" for="focusedInput">User name</label>
											<div class="controls">
											  <input class="input-xlarge focused" name="userName" type="text" value="<%= user.UserName %> " >
											</div>
										  </div>
										  <div class="control-group">
											<label class="control-label" for="focusedInput">Identity Number</label>
											<div class="controls">
											  <input class="input-xlarge focused" name="identity" type="text" value="<%= user.IdentityNumber %> " >
											</div>
										  </div>
										  <div class="control-group">
											<label class="control-label" for="focusedInput">Email</label>
											<div class="controls">
											  <input class="input-xlarge focused" name="email" type="text" value="<%= user.EmailAddress %> " >
											</div>
										  </div>
										  <div class="control-group">
											<label class="control-label" for="focusedInput">Address</label>
											<div class="controls">
											  <input class="input-xlarge focused" name="address" type="text" value="<%= user.Address %> " >
											</div>
										  </div>
										  <div class="control-group">
											<label class="control-label" for="date01">Date of birth</label>
											<div class="controls">
											  <input type="text" class="input-xlarge datepicker" name="date" value="<%= asia(user.DateOfBirth, '%m/%d/%Y', 'Asia/Hong_Kong') %> ">
											</div>
										  </div>
										  <div class="form-actions">
											<button type="submit" class="btn btn-primary"> Save changes</button>
											<button type="button" class="btn" onclick="window.location.replace('../user')">Cancel</button>
										  </div>
										</fieldset>
									  </form>                                
								</li>
							</ul>
						</div>
					</div><!--/span-->
					<!--/span-->

				</div>
				<!--/row-->

				<!--/row-->
			</div>
			<!--/.fluid-container-->

			<!-- end: Content -->
		</div>
		<!--/#content.span10-->
	</div>
	<!--/fluid-row-->

	<div class="clearfix"></div>

	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a
					href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/"
					alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
		</p>
	</footer>
</body>

</html>