<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Recharrge Account</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link
		href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
		rel='stylesheet' type='text/css'>
	<!-- end: CSS -->
</head>

<body>
	<%- include('menu');  -%>
	<!-- start: Header -->
	<div class="container-fluid-full">
		<div class="row-fluid">
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/admin/user"><i class="icon-bar-chart"></i><span class="hidden-tablet">
									User</span></a></li>
						<li><a href="/admin/account"><i class="icon-align-justify"></i><span class="hidden-tablet">
									Account</span></a></li>
						<li><a href="/admin/recharge"><i class="icon-align-justify"></i><span class="hidden-tablet">
									Recharge and Withdraw</span></a></li>
					</ul>
				</div>
			</div>
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="index.html">Home</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">Tables</a></li>
				</ul>

				<div class="row-fluid sortable">
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2><i class="halflings-icon white user"></i><span class="break"></span>Members</h2>
							<div class="box-icon">
								<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
								<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
								<thead>
									<tr>
										<th>AccountId</th>
										<th>Release Date</th>
										<th>Current Balance</th>
										<th>Status</th>
										<th>Type</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<% accounts.forEach(function(i) { %>
										<tr>
											<td><%= i.AccountId %></td>
											<td class="center"><%= asia(i.ReleaseDate, '%m/%d/%Y - %H:%M:%S', 'Asia/Hong_Kong') %></td>
											<td class="center"><%= formatMoney(i.CurrentBalance, 'VNĐ') %></td>
											<td class="center">
												<!-- <span class="label label-warning"><%#= ( i.AccountStatusTypeId == 1 ? 'Đang chờ xác thực' : i.AccountStatusTypeId == 2 ? 'Đã xác thực' : 'Tạm khóa') %></span> -->
												<% if(i.AccountStatusTypeId == 1) { %>
													<span class="label label-warning">Đang chờ xác thực</span>
												<% } else if(i.AccountStatusTypeId == 2) { %>
													<span class="label label-success">Đã xác thực</span>
												<% } else { %>
													<span class="label label-danger">Đã khóa</span>
												<% } %>
											</td>
											<td class="center">
												<!-- <span class="label label-warning"><%#= ( i.AccountTypeId == 1 ? 'Tài khoản thanh toán' : 'Tài khoản tiết kiệm') %></span> -->
												<% if(i.AccountTypeId == 1) { %>
													<span class="label label-primary">Tài khoản thanh toán</span>
												<% } else { %>
													<span class="label label-info">Tài khoản tiết kiệm</span>
												<% } %>
											</td>
											<td class="center">
												<a class="btn btn-success" href="rechargeAccount/<%= i.AccountId %>">
													<i class="halflings-icon white plus"></i>
												</a>
												<a class="btn btn-success" href="withdrawAccount/<%= i.AccountId %>">
													<i class="halflings-icon white minus"></i>
												</a>							
											</td>
										</tr>
									<% }) %> 	
								</tbody>
							</table>
						</div>
					</div>
					<!--/span-->

				</div>
				<!--/row-->
			</div>
			<!--/.fluid-container-->

			<!-- end: Content -->
		</div>
		<!--/#content.span10-->
	</div>
	<!--/fluid-row-->

	<div class="clearfix"></div>

	<footer>
		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a
					href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/"
					alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
		</p>
	</footer>
</body>

</html>