<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/templatemo-training-studio.css">
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <%- include('menu');  -%>
        </div>
    </header>
    <section class="section" id="features">
        <div class="container">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">

                </div>
            </div>
            <!-- <h1>Thông tin User</h1> -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">                    
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="container emp-profile">
                                    <!-- <form method="POST" enctype="multipart/form-data"> -->
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                                            <div class="profile-img">
                                                <img src="public/uploads/<%= currentUser.Avatar %>" alt="" class="img-rounded img-responsive" style="height: 75%; width: 50%" />
                                                <form method="POST" enctype="multipart/form-data" style="margin-top: 5px;">
                                                    
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        <label class="btn btn-secondary active">
                                                            <input type="file" id="myFile" name="avatar" style="display:none;" />
                                                          <input type="radio" name="options" id="option1" autocomplete="off" for="myFile"> Chọn hình
                                                        </label>
                                                        <label class="btn btn-secondary">
                                                          <input type="submit"  name="options" id="option2" value="Đồng ý" autocomplete="off">
                                                        </label>
                                                      </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="profile-head">
                                                <div class="row">
                                                    <!-- <div class="col-md-6">
                                                            <label>Name</label>
                                                        </div> -->
                                                    <div class="col-md-6">
                                                        <h2><%= currentUser.UserName %></h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= currentUser.EmailAddress %> %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Số điện thoại</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= currentUser.CellPhone %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Ngày sinh: </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= asia(currentUser.DateOfBirth, '%m/%d/%Y', 'Asia/Hong_Kong') %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Địa chỉ: </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= currentUser.Address %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Trạng thái tài khoản: </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= currentUser.UserStatusId == 2 ? 'Bình thường' : currentUser.UserStatusId == 3 ? 'Đã khóa' : 'Chưa xác thực gmail' %></p>
                                                    </div>
                                                </div>
                                                <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <!-- <div class="profile-work">
                                                <p>Ngân hàng</p>
                                                <a href="">Điều khoản người dùng</a><br />
                                                <a href="">Thông tin ngân hàng</a><br />
                                                <a href="">Tài khoản thanh toán</a><br />
                                                <a href="">Tài khoản tiết kiệm</a>

                                            </div> -->
                                        </div>
                                        <div class="col-md-8">
                                            <h5><b>Tài Khoản Thanh Toán</b></h5>
                                            <% if(payaccount) { %>                                                
                                                <h6>Số dư: <%= formatMoney(payaccount.CurrentBalance,'VNĐ') %></h6>
                                                <h6>Trạng thái: <%= payaccount.AccountStatusTypeId %></h6>
                                            <% } else { %>
                                                <p>Bạn chưa có tài khoản thanh toán</p>
                                            <% } %>
                                            <hr>
                                            <h5><b>Tài khoản tiết kiệm</b></h5>
                                            <% if(savingaccount) { %>                                                
                                                <h6>Số dư: <%= formatMoney(savingaccount.CurrentBalance,'VNĐ') %></h6>
                                                <h6>Trạng thái: <%= savingaccount.AccountStatusTypeId %></h6>
                                            <% } else { %>
                                                <p>Bạn chưa có tài khoản tiết kiệm</p>
                                            <% } %>
                                        </div>

                                    </div>
                                </div>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

   <!-- jQuery -->
   <script src="../public/js/jquery-2.1.0.min.js"></script>
   <script src="../public/js/scrollreveal.min.js"></script>
   <script src="../public/js/custom.js"></script>
</body>

</html>