<li class="feature-item">
    <div class="left-icon">
        <a  href="<%= i.path %>">
        <img src="<%= i.img %>" alt="<%= i.alt %>" >
        </a>
    </div>
    <div class="right-content">
        <a href="<%= i.path %>"><h4><%= i.name %></h4></a>
        <p> <%- i.content -%></p>
        <a href="#" class="text-button"><%= i.link %></a>
    </div>
</li>